<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <mat-card fxFlex="0 1 350px" class="py-5 animated" [ngClass]="{'pulse': hasEntered}">
    <form [formGroup]="loginForm" (submit)="onSubmit(loginForm)" novalidate>
      <mat-card-title>Bienvenido!</mat-card-title>
      <mat-card-subtitle>Por favor, inicia sesión con tus datos</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field appearance="fill" class="w-100 pb-3">
          <mat-label>Usuario</mat-label>
          <mat-icon matSuffix color="accent">person</mat-icon>
          <input matInput formControlName="username" placeholder="Usuario" autocomplete="off">
          <mat-error>Este campo no puede estar vacio.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Clave</mat-label>
          <mat-icon matSuffix color="accent">lock</mat-icon>
          <input matInput formControlName="password" placeholder="Clave" type="password" autocomplete="off">
          <mat-error>Este campo no puede estar vacio.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button fxFlex="1 1 50" type="submit" mat-raised-button class="mx-auto" color="accent" [disabled]="loginForm.invalid || loginForm.disabled">Iniciar
          Sesión</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>