
$app-primary: (
    50:  #e9f2fb,
    100: #c9def5,
    200: #a5c8ee,
    300: #80b2e7,
    400: #65a2e2,
    500: #4a91dd,
    600: #1996FB,
    700: #3a7ed4,
    800: #3274cf,
    900: #2262c7,
    A100:#ffffff,
    A200:#cedfff,
    A400:#9bbfff,
    A700:#81aeff,
    contrast: (
      50: black,
      100: black,
      200: black,
      300: black,
      400: black,
      500: white,
      600: white,
      700: white,
      800: rgb(255, 255, 255),
      900: white,
      A100: black,
      A200: white,
      A400: white,
      A700: white,
    )
  );
  
  $app-accent: (
    50: #E4FCF5,
    100: #BBF8E4,
    200: #8FF4D6,
    300: #62F0C1,
    400: #539ef3,
    500: #437ec2,
    600: #1783FA,
    700: #35659c,
    800: #1e3b5c,
    900: #121F30,
    A100: #80FFB1,
    A200: #40FFA6,
    A400: #00F57B,
    A700: #11C55C,
    contrast: (
      50: black,
      100: black,
      200: black,
      300: black,
      400: black,
      500: white,
      600: white,
      700: white,
      800: rgba(255, 255, 255, 0),
      900: white,
      A100: black,
      A200: white,
      A400: white,
      A700: white,
    )
  );
  